@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  font-family: $base-font-family;
  background-color: $base-background-color;
  color: $base-font-color;
}

/* ul{
  list-style: none;
}
 */

 .centerContainer{
   @include outer-container (980px)
 }

.user section{
  @include span-columns (3);
}

.avatar img{
  height:230px;
  width:230px;
  border-radius:6px;
}

.organization img{
  height:42px;
  width:42px;
  border-radius:3px;
}

.repoLists li{
  @include span-columns (9);
}
