@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  font-family: $base-font-family;
  background-color: $base-background-color;
  color: $base-font-color;
}

/* ul{
  list-style: none;
}
 */

* {
  box-sizing: border-box;
  margin: 0;
}

ul{
  list-style-type: none;
}

a { color: inherit; }

 .centerContainer{
   @include outer-container (980px)
 }

.user section{
  @include span-columns (3);
}

.avatar img{
  height:230px;
  width:230px;
  border-radius:6px;
}

.organization img{
  height:42px;
  width:42px;
  border-radius:3px;
}

.repos ul{
  @include span-columns (9 of 12);
}

.user h1{
  font-size:26px;
}

.user h2{
  color:RGBA(102, 102, 115, 1);
  font-size: 20px;
  font-weight:300;
}

.octicon-location,
.octicon-clock{
  color:RGBA(204, 204, 204, 1);
}

.follows h3{
  color:RGBA(61, 132, 191, 1);
  font-size:28px;
}

.follows span{
  color:RGBA(153, 153, 153, 1);
  font-size:11px;
}

.repoList ul{
  list-style-type: none;
}

.repositoryNames{
  color:RGBA(61, 132, 191, 1);
}
